Number,Name,Nickname,SchoolName,City,StateProv,Country,RookieYear,RobotName,HasConnected
{% for team in teams %}{{ team.id }},{{ team.name }},{{ team.nickname }},{{ team.school_name }},{{ team.city }},{{ team.state_prov }},{{ team.country }},{{ team.rookie_year }},{{ team.robot_name }},{{ team.has_connected }}
{% endfor %}