<!DOCTYPE html>
<head>
    <title>{% block title %}Pengiloo{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/tempus-dominus.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/pengiloo.css') }}">
</head>
<body>
    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', path='js/thirdparty/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/thirdparty/popper.min.js')}}"></script>
    <script src="{{ url_for('static', path='js/utils/rest_api.js') }}"></script>
    {% block script %}{% endblock %}
</body>
</html>