{% extends "base.html.jinja" %}
{% block title %}
Logs
{% endblock title %}
{% block navbar %}
{% include "navbar.html.jinja" %}
{% endblock navbar %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="#Practice" id="tabPractice" aria-controls="tabPanePractice" data-bs-toggle="tab">Practice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Qualification" id="tabQualification" data-bs-toggle="tab">Qualification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Playoff" id="tabPlayoff" data-bs-toggle="tab">Playoff</a>
            </li>
        </ul>
        <div class="tab-content mt-2" id="tabPaneContainer">
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{{ url_for('static', path='js/match_logs.js') }}"></script>
{% endblock script %}