{% extends "base.html.jinja" %}
{% block title %}Lower Thirds Configuration{% endblock title %}
{% block navbar %}{% include "navbar.html.jinja" %}{% endblock navbar %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="card bg-body-tertiary">
                <legend class="card-header">Audience Display</legend>
                <div class="card-body">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="audienceDisplay" id="blankDisplay" value="blank" checked onclick="setAudienceDisplay()"/>
                        <label for="blankDisplay" class="form-check-label">Blank</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="audienceDisplay" id="introDisplay" value="intro" onclick="setAudienceDisplay()"/>
                        <label for="introDisplay" class="form-check-label">Match Intro</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="audienceDisplay" id="matchDisplay" value="match" onclick="setAudienceDisplay()"/>
                        <label for="matchDisplay" class="form-check-label">Match Play</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="audienceDisplay" id="scoreDisplay" value="score" onclick="setAudienceDisplay()"/>
                        <label for="scoreDisplay" class="form-check-label">Final Score</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="audienceDisplay" id="bracketDisplay" value="bracket" onclick="setAudienceDisplay()"/>
                        <label for="bracketDisplay" class="form-check-label">Bracket</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="audienceDisplay" id="logoDisplay" value="logo" onclick="setAudienceDisplay()"/>
                        <label for="logoDisplay" class="form-check-label">Logo With BG</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="audienceDisplay" id="logoLumaDisplay" value="logoLuma" onclick="setAudienceDisplay()"/>
                        <label for="logoLumaDisplay" class="form-check-label">Logo Without BG</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="audienceDisplay" id="sponsorDisplay" value="sponsor" onclick="setAudienceDisplay()"/>
                        <label for="sponsorDisplay" class="form-check-label">Sponsor Reel</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="audienceDisplay" id="allianceSelectionDisplay" value="allianceSelection" onclick="setAudienceDisplay()"/>
                        <label for="allianceSelectionDisplay" class="form-check-label">Alliance Selection</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="audienceDisplay" id="timeoutDisplay" value="timeout" onclick="setAudienceDisplay()"/>
                        <label for="timeoutDisplay" class="form-check-label">Timeout</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card bg-body-tertiary">
                <legend class="card-header">Lower Third</legend>
                <div class="card-body" id="lowerThirdsContainer">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{{ url_for('static', path='js/utils/websocket_handler.js') }}"></script>
<script src="{{ url_for('static', path='js/setup_lower_thirds.js') }}"></script>
{% endblock script %}