{% extends "base.html.jinja" %}
{% block title %}
Sponsor Slides Configuration
{% endblock title %}
{% block navbar %}
{% include "navbar.html.jinja" %}
{% endblock navbar %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card bg-body-tertiary">
                <legend class="card-header">Sponsor Slides Configuration</legend>
                <div class="card-body">
                    <p>Place images in /static/img/sponsors</p>
                    <div class="row mb-3">
                        <div class="col-7">
                            <input type="hidden" name="id" value="" />
                            <div class="row mb-1 imagetoggle">
                                <label for="image" class="col-5 form-label">Image File Name</label>
                                <div class="col-7">
                                    <input type="text" name="image" id="image" placeholder="image.svg" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 d-none imagetoggle">
                                <label for="line1" class="col-5 form-label">Line 1 Text</label>
                                <div class="col-7">
                                    <input type="text" name="line1" id="line1" placeholder="Really" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 d-none imagetoggle">
                                <label for="line2" class="col-5 form-label">Line 2 Text</label>
                                <div class="col-7">
                                    <input type="text" name="line2" id="line2" placeholder="Tech" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label for="subtitle" class="col-5 form-label">Subtitle Text</label>
                                <div class="col-7">
                                    <input type="text" name="subtitle" id="subtitle" placeholder="Sponsor" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label for="displayTimeSec" class="col-5 form-label">Display Time (s)</label>
                                <div class="col-7">
                                    <input type="number" name="displayTimeSec" id="displayTimeSec" placeholder="10" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn btn-primary mb-1">Save</button>
                            <button type="button" class="btn btn-primary mb-1"><i class="bi-arrow-up"></i></button>
                            <br />
                            <button type="button" class="btn btn-danger mb-1">Delete</button>
                            <button type="button" class="btn btn-primary mb-1"><i class="bi-arrow-down"></i></button>
                            <br />
                            <button type="button" class="btn btn-secondary">Toggle image/text</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}