{% extends "base.html.jinja" %}
{% block title %}Team List{% endblock %}
{% block navbar %}{% include "navbar.html.jinja" %}{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-3">
            <fieldset class="mb-3">
                <legend>Import Teams</legend>
                <div class="row mb-3">
                    <textarea class="form-control" id="teamNumbers" name="teamNumbers" rows="10" placeholder="One Team per line"></textarea>
                </div>
                <p><button type="button" class="btn btn-primary" onclick="uploadTeams()">Add Team</button></p>
                <p>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmClearTeams">
                        Clear Team List
                    </button>
                </p>
                <p><a href="/api/setup/teams/generate_wpa_keys?all=true" name="wpakey" class="btn btn-danger d-none">Generate All WPA Keys</a></p>
                <p><a href="/api/setup/teams/generate_wpa_keys?all=false" name="wpakey" class="btn btn-danger d-none">Generate Missing WPA Keys</a></p>
            </fieldset>
        </div>
        <div class="col-9">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Nickname</th>
                        <th>School</th>
                        <th>Location</th>
                        <th>Rookie Year</th>
                        <th>Robot Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tableContainer">

                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="confirmClearTeams" tabindex="-1" aria-labelledby="confirmClearTeamsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmClearTeamsLabel">Confirm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to clear all Teams?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="truncateTeams()" data-bs-dismiss="modal">Clear Data</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', path='js/setup_teams.js') }}"></script>
<script>
    getData('/api/setup/settings')
    .then(settings => parseSettings(settings))

    getData('/api/setup/teams')
    .then(teams => $('#tableContainer').innerHTML = createRows(teams))

</script>
{% endblock script %}