{% extends "base.html.jinja" %}
{% block title %}
Field Testing
{% endblock title %}
{% block navbar %}
{% include "navbar.html.jinja" %}
{% endblock navbar %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="card bg-body-tertiary">
                <legend class="card-header">Game Sounds</legend>
                <div class="card-body">
                    <p><button type="button" class="btn btn-sm btn-primary"><i class="bi-play-fill"></i>&nbsp;&nbsp;</button></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}